## Machine learning

Iniziamo con la prima task, ovvero prevedere l'attività di twitter a livello provinciale, iniziamo assumendo una discretizzazione del tempo di 30 minuti in 30 minuti. Questo è dovuto al fatto che, grazie all'EDA, abbiamo osservato dei picchi di traffico specialmente nelle ore serali (da qui la necessità di avere una risoluzione temporale abbastanza fine) ma allo stesso tempo avendo 27k records in 62 giorni non volevamo avere dei binning con troppa poca popolazione. Da qui la nostra scelta.

In [66]:
from scipy import *
from numpy import *
import pandas as pd
import numpy as np
import geopandas as gpd
from pathlib import Path
import numpy
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from functions import *
import seaborn as sns

# funzioni di sk-learn
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.decomposition import PCA
from sklearn.linear_model import Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler
from sklearn.metrics import matthews_corrcoef, accuracy_score, confusion_matrix, plot_confusion_matrix
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split


#custom lib
import make_dataset as m_d

ModuleNotFoundError: No module named 'pandas_profiling'

In [24]:
# ML regressors and classificators
from sklearn.linear_model import LogisticRegression

In [72]:
# devo prima unire i due dataset di line set -> nov e poi nov -> dicembre

#Problema: il primo dato vien preso come dizionario
#Converto colonne
temp = m_d.safe_import('SET-2')
temp=temp.rename(columns={'DG1000420': 'LINESET', "2013-12-01 00:00": 'Timestamp', "36.719997" : 'Value Amp'})
#Riaggiungo il primo dato
electro=appforth(temp,['DG1000420','2013-12-01 00:00',36.719997])

temp1 = m_d.safe_import('SET-2')
temp1=temp1.rename(columns={'DG1000420': 'LINESET', "2013-11-01 00:00": 'Timestamp', "37.439999" : 'Value Amp'})
#Riaggiungo il primo dato
electro_1=appforth(temp1,['DG1000420','2013-12-01 00:00',36.719997])

electro.append(electro_1)

lines = m_d.safe_import('SET-lines')
electro = electro.merge(right=lines, how='outer')


#Ci sono incompatibilità tra i record salvati quindi li droppo cattivo
electro = electro.rename(columns={'SQUAREID': 'cellId'})
electro = electro.dropna()

Index(['DG1000420', '2013-12-01 00:00', '36.719997'], dtype='object')
Index(['DG1000420', '2013-12-01 00:00', '36.719997'], dtype='object')
Index(['SQUAREID', 'LINESET', 'NR_UBICAZIONI'], dtype='object')

In [73]:
electro

            LINESET         Timestamp  Value Amp  cellId  NR_UBICAZIONI
0         DG1000420  2013-12-01 00:00  36.719997    4037              2
1         DG1000420  2013-12-01 00:00  36.719997    4154             13
2         DG1000420  2013-12-01 00:00  36.719997    4155             20
3         DG1000420  2013-12-01 00:00  36.719997    4156              2
4         DG1000420  2013-12-01 00:00  36.719997    4269              1
...             ...               ...        ...     ...            ...
11298379  DG1056626  2013-12-31 23:50  75.775002    8502              1
11298380  DG1056626  2013-12-31 23:50  75.775002    8503              4
11298381  DG1056626  2013-12-31 23:50  75.775002    8621              1
11298382  DG1056626  2013-12-31 23:50  75.775002    8972             25
11298383  DG1056626  2013-12-31 23:50  75.775002    9089              8

[11298384 rows x 5 columns]

In [19]:

### Per usare multi cartelle
#import sys
#sys.path.append('./../src')
#print(sys.path)

#data_path = Path('./data/raw')   #Per Cookiecutter
data_path = Path('./data/raw')
# subdivide the time series
def date_divider(df):
    """
    This Fuction extracts the data from an undivided data format YYYY-MM-DDThh-mm-ss
    Where T stands for Time and has no further meaning
    """
    column_names = ["month", "day", "hours", "temperature", "rain"]
    out = pd.DataFrame(columns=column_names)
    N = len(df["created"])  # Numero tweets creati in un giorno
    for i in range(0, N):
        # Inizializzo ogni riga o crasha
        out.loc[i] = "NaN"
        # Tempo
        # Tw_final.loc[i]["year"]=int(tweets.loc[i]["created"][0:4])  #Chemmifrega dell'anno, tutti uguali
        out.loc[i]["month"] = int(df.loc[i]["created"][5:7])
        out.loc[i]["day"] = int(df.loc[i]["created"][8:10])
        out.loc[i]["hours"] = int(df.loc[i]["created"][11:13]) + 0.5 * (
            int(df.loc[i]["created"][14:16]) >= 30)
    return out
"""
#Temperatura, per ricavare questa usiamo la stazione più vicina al tweet (sfortunamente il Trentino non ne ha tante)
dmin=10000000000
for st in weather.groupby(station):
    d=tweets["geometry"].distance(st[geometry])
gdf['distance'] = gdf['centroid'].distance(queens_point)
Tw_final.loc[i]["temperature"]=int(tweets.loc[i]["created"][5:7])
"""


"""
    NB:
    Support class to divide the hours dataset
    """
def Access_counter(df):
    """
    Please note that the data must be preprocessed by "date_divider" in order to work
    This function DOES NOT work with raw data
    This function assign a label to the minutes of the raw data in order to match them to the time resolution of the temperature aquisition.
    The result of this programme is a dictionair containing all the days!!
    """
    # I create a Support dictionary in order to get all the accesses subdivided by day
    dict = {}
    # Lunghezza is the number of elements
    lunghezza = 0
    k = 0
    mesi = df["month"].unique()
    for mese in mesi:
        temp = df[df["month"] == mese]
        lunghezza = len(temp['day'].unique())
        for j in range(lunghezza):
            data = temp[temp["day"] == j]
            bins = numpy.linspace(0, 24, 49)
            dict[k], edges = numpy.histogram(data['hours'], bins)
            k = k+1
    return dict

In [11]:
################### Importo le cose che servono, vanno cancellate in fase CC #################
df = pd.read_csv("twitter_final.csv")
df

,month,day,hours,temperature,rain,municipal,geometry
0,11,1,0.0,13.2,0.0,Trento,POINT (11.13 46.07)
1,11,1,0.0,8.4,0.0,Pinzolo,POINT (10.83 46.23)
2,11,1,0.5,8.8,0.0,Cavalese,POINT (11.46 46.29)
3,11,1,0.5,13.2,0.0,Rovereto,POINT (11.04 45.89)
4,11,1,0.5,11.8,0.0,San Michele all'Adige,POINT (11.12 46.2)
...,...,...,...,...,...,...,...
27936,12,31,0.0,-7.7,0.0,Vigo di Fassa,POINT (11.68 46.42)
27937,12,29,13.0,3.4,0.0,Predazzo,POINT (11.6 46.31)
27938,11,19,0.5,5.0,0.0,Sant'Orsola Terme,POINT (11.3 46.11)
27939,11,23,9.5,0.7,0.0,Sant'Orsola Terme,POINT (11.3 46.11)
27940,12,31,16.5,-0.3,0.0,Palù del Fersina,POINT (11.35 46.13)

In [76]:
# grid di riferimento, serve un ponte tra l'ID della cella e la posizione geografica
grid=m_d.safe_import("grid")

grid.merge(right=electro, how = 'inner', on = 'cellId')
#grid.merge(right=electro, how = 'inner', on = 'geometry')

#df = df.merge(right=electro, how = 'inner', on = )

Index(['cellId', 'geometry'], dtype='object')

,cellId,geometry,LINESET,Timestamp,Value Amp,NR_UBICAZIONI
0,155,"POLYGON ((10.91493 45.69100, 10.92777 45.69079...",DG1031221,2013-12-01 00:00,34.439999,4
1,155,"POLYGON ((10.91493 45.69100, 10.92777 45.69079...",DG1031221,2013-12-01 00:10,34.799999,4
2,155,"POLYGON ((10.91493 45.69100, 10.92777 45.69079...",DG1031221,2013-12-01 00:20,35.639999,4
3,155,"POLYGON ((10.91493 45.69100, 10.92777 45.69079...",DG1031221,2013-12-01 00:30,32.520000,4
4,155,"POLYGON ((10.91493 45.69100, 10.92777 45.69079...",DG1031221,2013-12-01 00:40,33.119999,4
...,...,...,...,...,...,...
11298379,11099,"POLYGON ((11.76477 46.51064, 11.77778 46.51033...",DG1013503,2013-12-31 23:10,12.825000,3
11298380,11099,"POLYGON ((11.76477 46.51064, 11.77778 46.51033...",DG1013503,2013-12-31 23:20,12.225000,3
11298381,11099,"POLYGON ((11.76477 46.51064, 11.77778 46.51033...",DG1013503,2013-12-31 23:30,12.100000,3
11298382,11099,"POLYGON ((11.76477 46.51064, 11.77778 46.51033...",DG1013503,2013-12-31 23:40,11.475000,3
11298383,11099,"POLYGON ((11.76477 46.51064, 11.77778 46.51033...",DG1013503,2013-12-31 23:50,11.300000,3

In [81]:
# creo le il target, ovvero la divisione per fascia oraria di quanto ci è stato dato
counts_x_day = Access_counter(df)
print(counts_x_day[12])

[ 5  3  6  0  0  0  0  3  7  0  0  0  0 13 27  2  0  7  2  2 12  2  6  1
  3  0  2  0  4  2 23 21  7  4  5 14 35 19 11  2  4  6 11 16  8  4  3  1]

# Prepare the data for the ML dataset
Voglio preparare i dati in modo che siano della forma

X = ((Parametri giorno i-2),(parametri giorno i-1))

y = #tweets giorno i

In [111]:
# mi calcolo le somme dei tweets delle due distinzioni temporali che voglio assumere
# Queste funzioni risulteranno essere sia il target (delle 59 giornate che cercheremo di predire)
# sia il paramentro delle giornate successive alla loro
N_giorni =len(counts_x_day)
sum_mattina = np.zeros(N_giorni)
sum_sera = np.zeros(N_giorni )
for i in range(N_giorni):
    temp = counts_x_day[i]
    sum_mattina[i] = temp[linspace(15,37,dtype ='int')].sum() # 8->19
    sum_sera[i] = temp[linspace(38,47,dtype ='int')].sum()    # 19->24

Inizio a lavorare sulle temperature, dato che ho le temperature prese ogni 30 minuti decido di mediare sui due periodi SERA e MATTINA, in modo da aver un dato valutativo medio decente

In [121]:
# Adesso voglio  costruirmi un vettore che contenga le
dfTemp = df.drop(columns = ['rain','municipal','geometry'])
dfTemp_mattina = dfTemp[7.5 < dfTemp['hours'] < 19]
dfTemp_sera = dfTemp[19 < dfTemp['hours']]
#group_df = df.groupby(['month','day'])
#for i in range(N_giorni):
#    T = group_df['temperature'].
#print(T)
#T_mattina = np.zeros(N_giorni)
#T_sera = np.zeros(N_giorni)
#for i in range(N_giorni):
#    temp =     # scelta infelice di chiamare 
#    T_mattina[i] = temp[linspace(15,37,dtype ='int')].sum() # 8->19
#    T_sera[i] = temp[linspace(38,47,dtype ='int')].sum()    # 19->24
#

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
columns = ['#tweetsMAT-2','#tweetsMAT-1','#tweetsSER-2','#tweetsSER-1',  ]
ML_df = pd.DataFrame(columns =)

In [103]:
type(linspace(16,38, 23)[4])

numpy.float64

In [100]:
r = counts_x_day[16]
r[linspace(16,38, 23, dtype ='int')]

array([ 1,  3,  7,  6,  4,  3,  3,  9, 12,  2,  7,  8,  6, 12,  5, 13, 11,
        7,  7,  6,  5,  7, 11], dtype=int64)

## Logistic Regressor

{0: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0], dtype=int64),
 1: array([ 2,  7,  2,  3,  2,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  2,
         2,  3,  4,  4,  6,  6, 16,  2,  9, 11, 13,  8,  6, 10,  7,  2,  6,
        13, 15,  9, 11,  7,  7,  9, 14,  9, 19, 13,  7,  1,  6],
       dtype=int64),
 2: array([ 2,  6,  1,  1,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  1,  3,  0,
         2,  6,  3,  2,  3,  7,  9,  6,  6, 10, 12,  8, 11, 11,  3,  7,  6,
         4, 15, 11,  7,  2,  3,  4, 10,  4,  7,  2,  3,  5,  4],
       dtype=int64),
 3: array([ 8,  2,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  7,
         2,  5,  5,  4,  4,  4, 10,  6,  2,  8,  6,  7,  5,  3,  2,  8,  2,
         4,  5,  1, 15,  4,  3,  5, 10,  2,  4,  5, 11,  5, 25],
       dtype=int64),
 4: array([ 7,  2,  0,  0,  1,  0,  1,  0,  0,  0,  0,  1,  1,  9,  9,  5,  3,
         2,  2,  7,  7,  5, 10,  3,  2,  5,  1,  7,  5,  5,  3,  1,  2,  4,
         4,  4,  6,  2,  7,  1,  3,  2, 12,  8,  8,  5,  5,  3],
       dtype=int64),
 5: array([25, 56, 24,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0, 10,  2,  4,  4,
         2,  2, 12,  8,  5,  5,  3,  7,  3,  4,  2,  2,  3,  4,  2,  7,  3,
         6,  6,  4, 12,  1,  4,  1,  6, 11, 16,  7,  6,  1,  3],
       dtype=int64),
 6: array([ 5,  5,  4,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0, 15, 13,  5, 23,
         0,  2,  1,  4,  6,  7,  1,  5,  1,  5,  4,  3,  2,  2,  2,  2,  2,
         9,  3,  9,  9,  8,  2,  5,  2,  3,  9,  6,  7,  7,  6],
       dtype=int64),
 7: array([ 6,  3,  4, 28,  1,  1,  0,  0,  0,  1,  0,  0,  0,  3,  1,  1,  2,
         1,  2,  3,  4,  3,  1,  2,  4,  3,  4,  3,  7,  7,  3,  5,  8,  4,
         4,  9,  6,  3,  4,  5,  3, 29, 11,  2,  2,  7,  3, 26],
       dtype=int64),
 8: array([13,  4,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 12, 16,  7,  1,
         8,  5,  8,  2,  4,  2,  9,  1,  2,  5,  4,  4,  3,  8, 10, 11,  4,
         7, 10, 18, 24, 15,  5,  7, 10, 11, 14, 29, 13,  1,  3],
       dtype=int64),
 9: array([ 1,  8,  3,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  1, 16, 16, 10,
         8,  5,  4,  3, 11, 10, 10,  7, 11,  4,  3, 12, 19, 68,  7,  5, 31,
        13, 10,  7, 16, 20,  9,  9, 11, 15,  5,  4,  7,  5,  6],
       dtype=int64),
 10: array([15,  3,  1, 39,  0,  3,  1,  0,  0,  0,  0,  0,  0,  1,  1,  2,  7,
        12,  9,  5,  7,  2,  5,  3,  5,  0,  5, 31, 10,  9,  8,  3,  3,  6,
        23,  3,  4,  5, 18,  3, 22, 10, 14, 14, 11, 23, 13,  4],
       dtype=int64),
 11: array([ 1,  2,  2, 11, 58, 35,  0,  0,  1,  1,  0,  0,  0,  6, 16,  0,  4,
         2,  3,  5,  9,  6,  7,  2,  3,  7, 21,  3, 11, 19, 27,  8,  1,  9,
         3,  4, 12, 24, 10,  3,  4,  8, 29, 20,  7,  3,  5,  3],
       dtype=int64),
 12: array([ 5,  3,  6,  0,  0,  0,  0,  3,  7,  0,  0,  0,  0, 13, 27,  2,  0,
         7,  2,  2, 12,  2,  6,  1,  3,  0,  2,  0,  4,  2, 23, 21,  7,  4,
         5, 14, 35, 19, 11,  2,  4,  6, 11, 16,  8,  4,  3,  1],
       dtype=int64),
 13: array([ 3,  4,  1,  5,  8,  0,  5,  1,  0,  0,  1,  0,  0, 12,  6,  7,  3,
         3,  4,  3,  2,  3,  1,  2,  0,  6,  3,  4,  6,  4,  2,  5, 13,  5,
         6,  5,  5, 10,  8,  6, 13, 10,  3,  5,  5,  5,  7, 13],
       dtype=int64),
 14: array([ 9,  0,  0,  5,  1,  0,  0,  0,  0,  0,  0,  0,  3, 18,  9,  6,  3,
         1,  7,  8,  1,  4,  2,  4,  3,  2,  9,  9,  3,  0,  3,  3,  8, 11,
        13,  6, 14, 12,  4,  9,  8,  4,  2, 13,  9, 18, 17,  1],
       dtype=int64),
 15: array([ 5, 19,  2,  1,  1,  0,  1,  2,  0,  0,  2,  0,  0, 12, 18,  1,  3,
         7,  2,  5,  3,  8,  2,  1,  6,  4,  4,  5,  3,  3,  4,  7, 23,  5,
         4,  1,  5,  3,  8,  3, 12,  2,  5, 12, 14,  9,  3,  2],
       dtype=int64),
 16: array([ 6,  7,  0,  1,  0,  1,  1,  0,  0,  0,  0,  1,  0,  2,  1,  1,  1,
         3,  7,  6,  4,  3,  3,  9, 12,  2,  7,  8,  6, 12,  5, 13, 11,  7,
         7,  6,  5,  7, 11, 13,  2,  7,  7,  4, 10,  4,  6,  1],
       dtype=int64),
 17: array([ 9,  7,  1, 12, 22,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,
         3,  4,  4,  0,  4, 10, 13, 10,  9, 11, 14, 24, 18, 11,  4,  8,  8,
         4,  7,  6, 10,  1,  4,  3,  2, 14,  7,  8,  9, 11,  7],
       dtype=int64),
 18: array([34, 23, 23,  0,  1,  2,  1,  3,  2,  1,  0,  0,  0, 11, 15,  3,  5,
         8,  9,  3,  3,  1,  1,  5,  5,  5,  0,  2,  2,  7,  2,  4,  4,  5,
         5,  3,  4,  2,  3,  4,  4,  5,  8,  4,  8,  7, 11, 12],
       dtype=int64),
 19: array([ 5, 10,  2,  0,  1,  0,  2,  1,  0,  0,  0,  0,  2, 22,  3,  2,  4,
         4,  6, 11,  8,  5,  2,  0,  2,  3,  1,  3,  3,  3,  4,  3, 11,  3,
         3,  1,  7, 17,  9,  5, 15,  9,  3,  9,  8, 13,  6, 10],
       dtype=int64),
 20: array([ 7, 29, 11,  1,  6,  0,  0,  0,  0,  0,  1,  0,  2,  6,  6,  9,  2,
         6,  4,  1,  2,  5,  5,  6,  3,  5, 14, 10,  6,  3,  4, 11,  5,  4,
         9,  4,  5,  6,  7,  3,  0,  7,  9, 15, 18,  4,  7,  5],
       dtype=int64),
 21: array([15,  6,  2,  0,  0,  1,  0,  0,  0,  0,  9,  1,  1,  4, 55, 10,  5,
         2, 11,  9,  8, 15,  5, 12,  7,  8,  5, 13, 16,  5,  5,  5,  3,  8,
         5,  9,  6,  9, 17,  8,  7,  9, 23, 15,  9,  7, 18,  6],
       dtype=int64),
 22: array([ 3,  4, 34,  5,  0,  2,  0,  1,  2,  1,  1,  1,  3,  7, 30, 20,  7,
         8, 32,  4,  4,  3,  7,  5,  8,  9,  7, 10, 14, 13,  5,  8, 16, 20,
         8, 30, 14, 13, 16, 17, 29, 33, 21, 18, 13,  8, 11,  4],
       dtype=int64),
 23: array([ 4,  5,  1,  2,  2,  0,  0,  0,  0, 57,  0,  0,  2,  3, 16,  9,  9,
         3,  6, 15, 25, 14, 24, 17,  7,  7, 17,  7,  9, 31, 12,  8, 16, 11,
         7, 10, 17, 11, 11, 14, 15,  8, 11, 13,  8, 11, 11,  1],
       dtype=int64),
 24: array([16, 75,  7,  3,  5,  5,  2,  1,  0,  1,  2,  0,  0,  0,  1,  6,  3,
         4, 11,  8, 22,  3,  6, 11, 15, 18, 24, 13,  8,  3, 13,  9,  7,  8,
         4,  7,  1,  7, 20, 13,  9, 18, 29, 13,  6,  8,  1,  4],
       dtype=int64),
 25: array([ 9,  2,  1,  1,  0,  1,  0,  0,  0,  0,  0,  1,  2,  6, 10,  4,  2,
         4,  4,  5, 11,  9,  4,  7,  9,  8,  5,  5,  9, 12,  6,  5,  6,  9,
         6, 12, 18, 14, 13, 21,  8, 18, 22, 28, 21, 15,  8, 16],
       dtype=int64),
 26: array([17, 13,  4,  1,  0,  2,  0,  0,  0,  0,  0,  1,  1, 12, 17,  7,  9,
         9,  4, 11,  4,  3,  9,  6,  1,  4,  9,  5,  7, 13,  3, 13,  4,  7,
        14, 24, 13, 11,  5, 13,  9, 16, 20, 11, 15, 10,  8,  6],
       dtype=int64),
 27: array([ 5,  0,  1,  0,  0,  0,  0,  1,  0,  0,  1,  1,  6, 10,  4,  7,  6,
        13, 16, 12,  7, 18, 15,  5,  5, 10,  8,  8,  5, 21,  3,  4,  2, 17,
        16, 19,  7, 19, 13,  7,  3,  9, 11, 11, 13,  9, 23, 21],
       dtype=int64),
 28: array([ 7,  6,  2,  0,  4,  0,  0,  0,  0,  0,  3,  1,  0,  9,  3, 15, 12,
        11,  6,  8,  6, 15,  9,  6, 10,  6,  9,  4,  8,  4, 12, 15,  4,  5,
         8, 22, 14, 30,  8, 22, 42, 28, 22, 20, 13, 26,  8,  5],
       dtype=int64),
 29: array([ 8,  4,  0,  0,  1,  0,  0,  0,  0,  0,  0,  4,  1, 14, 17,  6,  3,
         6,  4,  5,  6, 16, 10, 15, 12,  7, 30,  9,  5,  9, 10, 15, 14, 10,
         5,  8, 13,  9, 33,  9, 19, 16, 10,  9, 21, 15,  4,  8],
       dtype=int64),
 30: array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0], dtype=int64),
 31: array([ 5, 14,  8,  5,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  4,  5,  5,
         4, 15, 20, 13, 15, 20, 15, 16, 19, 16, 23,  9, 18,  9, 15, 24, 15,
        14, 13, 16,  8,  6,  7,  9,  7,  5, 10, 10, 11, 11,  6],
       dtype=int64),
 32: array([ 3,  1,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  4,  9, 22,  2,  8,
        12,  6, 14, 12,  7,  2, 22, 14, 12, 13,  7, 12, 25, 20,  6, 14,  8,
        16, 18, 11, 26,  7, 11, 18, 12, 15, 25, 31,  7, 12,  5],
       dtype=int64),
 33: array([21,  3,  2,  1,  1,  1,  0,  0,  1,  0,  0,  0,  3, 11,  4,  5, 12,
         5,  2, 10, 19, 11,  5,  6, 14,  6,  5,  6,  6,  7, 17,  9,  3,  7,
        15,  9, 16, 12, 15, 18, 12, 16, 11, 24, 15,  7,  6,  9],
       dtype=int64),
 34: array([11, 50, 15,  0,  0,  0,  0,  0,  4,  1,  0,  0,  2,  8,  7,  6,  2,
        11, 10,  8, 15,  6,  4,  5,  7,  2,  7,  5,  5,  5,  3, 10,  9, 12,
        23, 38, 37, 31, 30, 21, 26, 32, 32, 20,  1, 12,  4,  8],
       dtype=int64),
 35: array([ 7,  3,  7,  6,  8,  0,  1,  0,  0,  0,  4,  2,  3,  8, 20,  7,  7,
         4,  0,  6, 10, 16,  5,  1, 13,  6,  6, 17, 13, 15, 13, 15, 19, 13,
        16, 13, 25,  9, 10, 17, 22, 20, 43, 25, 27, 25, 13, 22],
       dtype=int64),
 36: array([13,  6,  4,  1,  0,  0,  0,  1,  0,  0,  0,  1,  4, 20, 20, 12,  9,
        13,  9, 15, 16, 10, 10,  9, 10,  5,  9,  6,  6,  8,  9,  4, 12, 17,
         7, 11, 15, 16, 22, 31, 52, 20, 41, 39, 27, 34, 11, 14],
       dtype=int64),
 37: array([ 8,  3,  3,  0,  1,  2,  0,  1,  0,  7,  5,  0,  4,  1,  5,  0,  2,
         5, 11, 23, 10, 20, 17, 17, 21, 26,  7, 10, 18, 18, 11,  7, 10, 18,
        15, 21, 17, 25, 20, 16, 19, 15, 38, 16, 12, 10, 17,  4],
       dtype=int64),
 38: array([13,  7, 10,  9,  4,  2,  0,  1,  0,  0,  1,  1,  1,  5,  5,  6,  1,
         4,  9,  7, 17,  4, 16,  9, 19, 24, 18, 17, 20, 30, 12, 18,  9, 30,
        29, 35, 21, 21, 29, 19, 19, 28, 21, 39, 47, 32, 14,  7],
       dtype=int64),
 39: array([ 3,  5,  2,  0, 17, 42,  6,  0,  3,  0,  0,  0,  9, 19, 11,  5,  5,
        19, 16, 15, 20, 11,  9, 11, 12, 15, 22, 26,  3, 14, 15, 10, 17, 11,
         8, 11, 12, 20, 10, 12,  4, 12,  7,  9,  9, 14,  7,  2],
       dtype=int64),
 40: array([ 4,  2,  5,  0,  2,  0,  4,  1,  0,  0,  0,  2,  5, 13,  8, 19, 10,
        20, 10, 14, 13, 14,  9, 13, 23, 17, 10,  7, 20,  7, 12, 10, 12,  5,
         7, 11,  8,  8, 18, 13,  7, 23, 28, 19, 29, 10, 10,  6],
       dtype=int64),
 41: array([ 4,  3,  0,  5,  0,  0,  0,  2,  0,  0,  0,  0,  6, 12, 17,  8, 10,
        14,  9, 17,  9,  9,  4,  4,  7,  7, 10, 11, 10,  8, 18, 11,  7,  5,
         8,  8, 20, 15, 19, 12, 11, 18,  8, 12, 16, 14,  7, 10],
       dtype=int64),
 42: array([43,  2, 17,  9,  0,  0,  0,  0,  0,  0,  0,  0,  1,  9, 12, 14,  8,
         5, 15,  5, 12,  7, 10,  7, 13, 17, 15,  3, 19, 11, 13, 22, 23, 13,
        18, 25, 29, 30, 13,  6, 18,  7, 13, 24, 25, 22, 34, 23],
       dtype=int64),
 43: array([ 14,   3,   5,   1,   0,   1,   0,   0,   0,   0,   3,   0,   1,
          8,  14,   7,   3,   2,   9,  37,  13,  17,   8,  10,   8,  17,
         10,  10,  13,   8, 100,   9,   4,  11,  12,  34,  42,  32,  14,
         14,   6,  10,  15,  31,  39,  13,  13,   5], dtype=int64),
 44: array([ 4,  7,  1,  4,  0,  7,  1,  0,  2,  0,  1,  0,  0,  3, 10,  4,  6,
        12, 29, 18,  9,  6, 18,  8, 20, 12, 12, 13,  8, 17, 19,  7, 25, 12,
        22, 30, 13, 10, 10, 11, 11, 11, 25, 41, 12, 41, 58,  9],
       dtype=int64),
 45: array([ 7, 69, 54, 10,  1,  0,  2,  0, 21, 12,  0,  1,  0,  0,  2, 10, 10,
         9, 12, 31, 11, 17, 29, 10, 15, 27, 21, 22, 23, 16, 17, 35, 13,  7,
        14, 12, 11,  8, 13, 10,  8, 48, 19, 14, 11, 14, 13,  6],
       dtype=int64),
 46: array([ 8,  1,  0,  0,  0,  0,  0,  1,  0,  0,  1,  1,  4, 24,  7, 10,  6,
         4,  7,  7,  8,  4, 17,  3, 12,  6, 12, 18, 11, 12, 14,  4, 29, 17,
        26, 15, 17, 10, 16, 12, 12, 32, 22, 16, 14, 19,  2,  7],
       dtype=int64),
 47: array([ 5,  9,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  5, 10, 16,  8,
         8,  5,  9, 11,  7, 12, 12, 12, 20, 11, 13, 18,  5, 15, 11,  6, 14,
        17,  6,  5,  7, 13, 22, 24,  9, 14,  7, 14, 11,  7, 21],
       dtype=int64),
 48: array([ 6,  3,  5,  0,  0,  0,  1,  3,  1,  0,  1,  0,  0,  7,  8,  9, 17,
        11,  3, 13, 12,  9,  2,  5,  8,  5,  9,  9,  6,  8,  7,  1,  8, 13,
         3, 12, 15, 17, 18, 11,  5, 17, 27, 16,  5, 13,  6, 10],
       dtype=int64),
 49: array([ 9, 26,  9,  2,  0,  0,  0,  0,  0,  1,  2,  2,  3, 18, 39,  4,  4,
         6,  4, 23, 20, 24, 19, 21,  5, 25, 17, 10, 12,  7,  9,  2,  3,  8,
         7, 21,  6, 14, 10,  8, 11, 11, 11,  4,  9, 15,  9,  0],
       dtype=int64),
 50: array([11,  9,  1,  2,  3,  0,  2,  1,  0,  0,  1,  1,  2,  5,  5,  6, 11,
        17, 17, 13,  6,  4, 12,  5,  9, 12, 14, 12,  9, 12,  5,  7,  8,  9,
        20, 11, 20, 11, 15, 20,  4, 16,  6,  5, 23, 25,  9,  6],
       dtype=int64),
 51: array([11,  6,  2,  3,  1,  0,  0,  0,  0,  1,  1,  0,  0,  2,  0,  2,  8,
         5, 14,  5,  6, 13,  8,  3, 17, 17, 10, 11, 24, 15, 10,  8,  8, 17,
         9, 16, 14, 19, 25, 11,  6,  5,  7, 12,  9, 17, 10,  7],
       dtype=int64),
 52: array([44, 29,  8, 15,  3,  5,  0,  0,  0,  1,  0,  0,  0,  0,  0, 13,  5,
         5, 12,  9, 17, 22, 35,  7,  9,  7,  7, 16, 19, 19,  8, 10,  6,  3,
        10, 14, 11,  8, 10, 11,  3, 32, 38, 14,  9, 13, 20,  7],
       dtype=int64),
 53: array([ 7,  3,  3,  2,  0,  0,  1,  0,  0,  0,  2,  0,  0,  0,  0,  2,  2,
         3,  4,  8,  7, 19,  4, 10, 12, 20, 12,  8, 10, 12, 11,  7, 17, 22,
        20, 15, 17,  8,  4, 13, 13,  8, 12,  5, 13,  8, 18, 13],
       dtype=int64),
 54: array([33, 33,  5, 92, 33,  1,  3,  1,  0,  0,  0,  0,  0,  1,  0,  6,  4,
        14,  6,  6, 11, 17, 20,  5,  4, 12, 14, 21, 20, 27, 15,  6, 10, 11,
         8, 13, 14, 12, 16, 17, 17,  9, 22, 27, 12,  5, 11, 26],
       dtype=int64),
 55: array([20, 13, 15,  7,  2, 10,  4,  0,  1,  1,  0,  3,  4,  1,  3,  1, 18,
         8, 16, 10, 13, 19, 15, 22,  5, 11,  6, 26, 10, 27, 24, 12, 10, 20,
        20, 36, 24, 22, 10, 17, 14,  3, 12, 16, 13,  9, 27, 22],
       dtype=int64),
 56: array([24, 22, 12,  6,  7,  2,  1,  2,  7,  4,  0,  3,  0,  1,  0,  1,  9,
        16, 17, 15, 12, 32, 13, 18, 12, 22, 15, 19,  8, 25, 17, 20, 33, 13,
        11, 26, 11, 16, 14, 16, 30, 15, 20, 33, 23, 44, 17, 36],
       dtype=int64),
 57: array([24,  6, 10, 31, 12,  7,  0,  0,  0,  0,  4,  0,  0,  1,  7,  8, 12,
        14, 14, 13, 15, 27, 19, 20, 20, 33, 18, 17, 18, 23, 13, 19, 26, 18,
        18, 14, 29, 21, 36, 24, 38, 25, 16, 11, 19, 11, 14, 19],
       dtype=int64),
 58: array([18, 12,  7, 15, 10,  2,  0,  1,  1,  2, 19, 15,  0,  0,  2,  4,  5,
        28, 14, 13, 19,  8,  9, 26, 15, 21, 12, 29, 22, 11, 19, 15, 19, 27,
        24, 33, 34, 29, 21, 38, 30, 60, 51, 25, 25, 36, 29, 30],
       dtype=int64),
 59: array([13, 10,  9, 16, 24, 19, 43,  3, 12,  2,  0,  6,  6,  9,  2,  1, 14,
        10, 24, 16, 33, 19, 35, 38, 12, 24, 22, 39, 32, 30, 23, 17, 37, 35,
        33, 23, 34, 43, 34, 30, 32, 24, 34, 19, 28, 33, 28, 14],
       dtype=int64),
 60: array([23,  6,  4,  5,  5,  8,  3,  2,  4,  5,  0,  0,  5,  5, 14, 18, 21,
        17,  9, 38, 17, 23, 19, 22, 29, 41, 41, 47, 35, 22, 17, 22, 24, 29,
        34, 40, 29, 28, 11, 38, 21, 20, 19, 47, 16, 48, 18, 19],
       dtype=int64)}